// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar"s source Stylus files. Setting
// variables before Quasar"s Stylus will use these variables rather than
// Quasar"s default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It"s highly recommended to change the default colors
// to match your app"s branding.

$primary   = $arqma-green
$secondary = $arqma-black-90
$tertiary  = $arqma-black-80

$neutral   = #E0E1E2
$positive  = #42A5F5
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$arqma-green = linear-gradient(180deg, #42A5F5 0%, #1ba7fd 100%)
$arqma-green-solid = #90CAF9;
$arqma-green-dark-solid = #42A5F5;

$arqma-black-90 = #0A0A0A
$arqma-black-80 = #252525
$arqma-black-60 = #313131
$arqma-black-50 = #7E7E7E;
